@import "../core";

.our-sponsors {
  background: #fff;
  font-family: @main-font;

  .page-header {
    border-bottom: none;
    position: relative;
    text-align: center;
    h1 {
      text-transform: uppercase;
      margin-bottom: 0px;

      span {
        color: @link-color;
        font-size: 35px;
        font-weight: 800;
        font-style: normal;
      }
    }

    span {
      font-size: 16px;
      color: #5a5a5a;
      font-weight: 700;
      margin: 0;
      font-family: 'PT Sans', sans-serif;
      font-style: italic;
    }
  }
}

.sponsor-list {

  list-style: none;
  padding: 0;
  margin: 0;

    li {
      //border: 2px solid @main-dark-color;
      display: inline-block;
      background: #fff;
      margin-top: 15px;
      height: 100px;
      vertical-align: middle;

      img {
        margin-top: 5px;
        display: inline-block;
        vertical-align: middle;
      }

      span {
        display: inline-block;
        height: 50px;
      }
    }

}
